<!doctype html>

<html ng-app="app">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
</head>

<body>
<div ng-controller="indexController">
    <div class="container">
        <h1>Simple Market from Spring</h1>
    </div>

    <div class="mb-2 bg-primary bg-gradient text-white">
        <div class="container" ng-show="!authorized">
            <form novalidate ng-submit="tryToAuth()">
                <div class="form-group row">
                    <div class="col-md-3 my-auto">
                        <label for="inputUsername" class="sr-only">Имя пользователя</label>
                        <input type="text" ng-model="user.username" id="inputUsername" class="form-control"
                               style="margin: 5px 0" placeholder="Имя пользователя" >
                    </div>
                    <div class="col-md-3 my-auto">
                        <label for="inputPassword" class="sr-only">Пароль</label>
                        <input type="password" ng-model="user.password" id="inputPassword" class="form-control"
                               placeholder="Пароль">
                    </div>
                    <div class="col-md-3 my-auto">
                        <button class="btn btn-lg btn-primary" type="submit">Войти</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="container" ng-show="authorized">
            <div class="form-group row">
                <div class="my-auto col-md-2">
                    <span style="font-size: 1.25rem">{{username}}</span>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-lg btn-primary" ng-click="exit">Выйти</button>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div>
            <h3>Фильтр</h3>
            <form novalidate ng-submit="fillTable()" style="margin-bottom: 10px">
                <div class="form-group row" style="margin-bottom: 0">
                    <div class="form-group col-md-3">
                        <label for="filterTitle">Название товара</label>
                        <input class="form-control" type="text" ng-model="filter.title" id="filterTitle">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="filterMinPrice">Минимальная цена</label>
                        <input class="form-control" type="number" ng-model="filter.min_price" id="filterMinPrice">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="filterMaxPrice">Максимальная цена</label>
                        <input class="form-control" type="number" ng-model="filter.max_price" id="filterMaxPrice">
                    </div>
                </div>
                <div>
                    <button class="btn btn-success" type="submit">Применить</button>
                </div>
            </form>

            <h3>Список товаров</h3>
            <table class="table table-hover" cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <td>Название</td>
                    <td>Цена</td>
                    <td></td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="p in ProductsPage.content">
                    <td>{{p.title}}</td>
                    <td>{{p.price}}</td>
                    <td ng-show="authorized">
                        <button class="btn btn-outline-success" ng-click="addProductInCartById(p.id)">Добавить в корзину
                        </button>
                    </td>
                    <td ng-show="authorized">
                        <button class="btn btn-danger" ng-click="deleteProductById(p.id)">Удалить товар</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li ng-class="ProductsPage.first ? 'page-item disabled' : 'page-item'">
                        <a class="page-link" ng-click="fillTable(ProductPage.number)">Предыдущий</a>
                    </li>
                    <li ng-class="ProductsPage.number == PageIndex - 1 ? 'page-item disabled' : 'page-item'"
                        ng-repeat="pageIndex in PaginationArray">
                        <a class="page-link" ng-click="fillTable(pageIndex)">{{pageIndex}}</a>
                    </li>
                    <li ng-class="ProductsPage.last ? 'page-item disabled' : 'page-item'">
                        <a class="page-link" ng-click="fillTable(ProductPage.number + 2)">Следующий</a>
                    </li>
                </ul>
            </nav>
            <div ng-show="cartNotNull">
                <h3>Корзина</h3>
                <table class="table table-hover" cellpadding="0" cellspacing="0">
                    <thead>
                    <tr>
                        <td>Название</td>
                        <td>Цена</td>
                        <td></td>
                        <td>Количество</td>
                        <td></td>
                        <td>Общая сумма</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="oi in ProductsPageCart.items">
                        <td>{{oi.productTitle}}</td>
                        <td>{{oi.pricePerProduct}}</td>
                        <td>
                            <button class="btn btn-danger" ng-click="decrementQuantity(oi)">-</button>
                        </td>
                        <td>{{oi.quantity}}</td>
                        <td>
                            <button class="btn btn-danger" ng-click="incrementQuantity(oi.id)">+</button>
                        </td>
                        <td>{{oi.price}}</td>
                        <td>
                            <button class="btn btn-danger" ng-click="deleteProductInCartById(oi.id)">Удалить товар
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" style="text-align: right"><b>Общая сумма</b></td>
                        <td>{{ProductsPageCart.totalPrice}}</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <h3>Добавить новый товар</h3>
            <form novalidate ng-submit="submitCreateNewProduct()">
                <div class="form-group col-md-6">
                    <label for="newProductTitle">Название</label>
                    <input class="form-control" type="text" ng-model="newProduct.title" id="newProductTitle">
                </div>
                <div class="form-group col-md-6">
                    <label for="newProductPrice">Цена</label>
                    <input class="form-control" type="number" ng-model="newProduct.price" id="newProductPrice">
                </div>
                <div>
                    <button class="btn btn-success" type="submit">Сохранить</button>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>